aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
colorama
Deprecated
distro
frozenlist
greenlet
idna
iniconfig
multidict
netaddr
packaging
pluggy
propcache
Pygments
pyTelegramBotAPI
pytest
requests
SQLAlchemy
typing_extensions
urllib3
wheel
wrapt
yarl
yookassa